/* OVERWRITE Bootstrap styles
Flowbyte by Fiyin and Kosy
21st November 2015 */

@font-face {
	font-family: quicksand;
	src: url(../fonts/Quicksand_Book.otf);
}

@font-face {
	font-family: quicksand_bold;
	src: url(../fonts/Quicksand_Bold.otf);
}

body {
    font-family: quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.f-head {
    font-family: quicksand_bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Header colour */
.flow-nav {
	background: url('../img/f-bg-dark-xp.png');
	border: none;
	padding: 20px 0;
}

.flow-nav .navbar-nav>li>a {
	color: #54ca03;
	text-transform: uppercase;
	transition: all .2s;
}

.flow-nav .navbar-nav>li>a:hover {
	border-bottom: 1px solid #54ca03;
	color: #54ca03;
}

.f-head {
	font-size: 2em;
	font-style: italic;
}

.f-text-1 {
	color: #54ca03;
}

.f-text-2 {
	color: #1c72ba;
}

.btn-overide {
	background-color: #54ca03;
  border: 1px solid transparent;
  color: #fff;
  font-family: quicksand,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .9em;
  font-weight: bolder;
  margin: 20px auto;
  outline: 0;
  padding: 15px;
  text-transform: uppercase;
}

/* Flowbyte Demo */
.f-demo {
	background: url('../img/f-bg-dark-xp.png');
	border: 1px solid #999;
	margin: 60px auto;
	padding: 30px 20px;
}

h1#timer {
	font-size: 5em;
}

.btn-control {
	border: none;
  font-size: 2em;
  padding: 10px 20px;
  margin: 10px;
  text-transform: uppercase;
}

.f-demo button:first-of-type {
	background-color: #036503;
	outline-color: #036503;
	transition: all .2s linear;
}

.f-demo button:first-of-type:hover {
	background-color: #058605;
}

.f-demo button:nth-of-type(2) {
	background-color: #A70404;
	outline-color: #A70404;
	transition: all .2s linear;
}

.f-demo button:nth-of-type(2):hover {
	background-color: #D00404;
}

.f-demo button:nth-of-type(3) {
	background-color: #717373;
	outline-color: #717373;
	transition: all .2s linear;
}

.f-demo button:nth-of-type(3):hover {
	background-color: #999A9A;
}

.tof-input {
  border: 1px solid #999;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 50px;
  outline: 0;
  text-align: center;
	transition: all .2s linear;
  width: 70%;
}

.tof-input:hover,
.tof-input:focus,
.tof-input:active {
	border: 1px solid #54ca03;
}

.btn-calc {
  background-color: transparent;
  border: 1px solid #54ca03;
  color: #54ca03;
  font-size: 1em;
  margin: 20px auto;
  padding: 10px;
  outline: 5px;
  text-transform: uppercase;
	transition: all .2s linear;
}

.btn-calc:hover {
	background-color: #54ca03;
	border-color: #54ca03;
	color: #fff;
	outline-color: #058605;
}

.btn-calc:active {
	outline-color: #058605;
}


/* Result */
.content-result {
	background-color: #c6cccc;
}

/* About*/
.about-hr {
	margin: 10px auto 30px;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

/* Social*/
.social-btns {
	border-radius: initial;
}

#time-of-flight {
  margin-bottom: 0;
}

#display-result{
  padding: 20px 20px 0 20px;
}

#result {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 10px;
}
